.course-main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-left: 25px;

}
.course{
    width: 210px;
    height: 300px;
    border: 1px solid lightgrey;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #c160cf, #ceafdc);
}
.course-title{
    font-family: cursive;
    text-align: center;

}
.course-desc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10.3px;

}
.course-price{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: red;
    text-align: right;
    padding-right: 20px;
}
.course-link{
    font-size: 12px;
    text-decoration: none;
    list-style: none;
    text-align: right;
    padding-right: 10px;
}